:root {
    --max-width: 1440px;
    --color-white: #fff;
    --color-black: #000;
    --bg-black: #000;
    --bg-white: #fff;
    --bg-project-post: #ffffff08;
    --bg-separator: rgba(255, 255, 255, 0.108);
}


@font-face {
    font-family: Mifelin;
    src: url('./Mifelin-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

html,
body {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    background: var(--bg-black);
    color: var(--color-white);
    font-family: "Inter", sans-serif;
    /* Hide scrollbar for all browsers */
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.cursor {
    position: fixed;
    inset: 0 auto auto 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--color-white);
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: transform 0.08s ease;
    z-index: 99;
}

.line__container {
    position: fixed;
    inset: 0 0 auto 50%;
    width: 100%;
    transform: translate(-50%);
    max-width: var(--max-width);
    height: 100%;
    overflow: hidden;
}

.separator {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--bg-separator);
}

.separator:nth-child(1) { left: 25%; }
.separator:nth-child(2) { left: 50%; }
.separator:nth-child(3) { left: 75%; }



header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 1rem;
    color: var(--color-white);
    background: transparent;
    mix-blend-mode: difference;
}

.theme {
    position: absolute;
    inset: 50% 0 auto auto;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background-color: var(--color-white);
    cursor: pointer;
}

header>nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

header>nav>div {
    width: 100%;
    display: flex;
    font-size: clamp(1.1rem, 0.8rem + 1.5vw, 1.6rem);
}

.content__container {
    display: flex;
    gap: 1px;
}

.parenthesis__L,
.parenthesis__R {
    font-weight: 100;
}

.text__container {
    display: flex;
}

.invChar__Container {
    width: 0;
    overflow: hidden;
    display: flex;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.videoFixBottom {
    position: fixed;
    inset: auto 0 0 auto;
    width: 300px;
    height: auto;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
}

.videoFixBottom video {
    object-fit: cover;
    object-position: top;
    width: 100%;
}

main {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE and Edge */
}
main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

section {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.text__reveal {
    overflow: hidden;
    font-size: clamp(2rem, 25cqi, 25rem);
    line-height: 1;
}

.text__reveal span {
    display: inline-block;
    transform: translateY(100%);
    transition: .5s;
}

.scroll__container {
    position: relative;
    width: 100%;
    height: 100%;
}

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero__container {
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.hero__title,
.hero__title h1 {
    overflow: hidden;
}

.hero__title__header {
    letter-spacing: -.05em;
    margin-bottom: 2rem;
}

.hero__cta h4,
.projects__title h4 {
    overflow: hidden;
    display: flex;
    font-size: clamp(1rem, 1.1rem + 1vw, 1.8rem);
}
.hero__cta h4 span,
.projects__title h4 span {
    position: relative;
    display: inline-block;
    transition: .3s ease;
    transition-delay: calc(var(--data-index) * .01s);
}

.hero__cta h4 span::before,
.projects__title h4 span::before {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
}

.hero__cta:hover h4 span,
.projects__title:hover h4 span {
    transform: translateY(-100%);
}

/* About Section */
#about {
    display: flex;
    justify-content: center;
    height: 75%;
}

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    min-height: 100%;
}

.about__text {
    width: 50%;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    text-wrap: balance;
    font-size: 1.6rem;
    letter-spacing: -.05em;
}

.cartoon {
    font-family: 'Mifelin';
    letter-spacing: 1.5px;
}

#video {
    display: flex;
    justify-content: center;
    height: 200%;
}

.video__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
}

.shim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.main__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.5) translateZ(0);
    will-change: transform;
}

.video__text__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(2rem, 10cqi, 10rem);
    overflow: hidden;
}

/* Projects */
#projects {
    position: relative;
    height: 200%;
}

.projects__title__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
    font-size: clamp(1rem, 1.1rem + 1vw, 1.8rem);
}

.projects__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
}

.slider__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__slider {
    height: 100%;
    display: flex;
    width: min-content;
    overflow: hidden;
    will-change: transform;
}

.project {
    position: relative;
    width: 25vw;
    height: 100%;
    padding: 80px 20px 60px;
    display: flex;
    flex-direction: column;
}

.image__container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.start { justify-content: flex-start; }
.mid { justify-content: center; }
.end { justify-content: end; }

.project__details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

.project__details p {
    font-size: .8rem;
}

/* Blog */
#blog {
    height: 400%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__hero,
.blog__post {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.post {
    position: relative;
    width: 50%;
    background-color: var(--bg-project-post);
    will-change: transform;
}

.post__image__container {
    overflow: hidden;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.blog__post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post__details {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
}

.post__details p {
    font-size: .8rem;
}

/* Circle section */
#circle__section {
    position: relative;
    height: 200%;
    mix-blend-mode: difference;
    isolation: isolate;
}

.circle__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 150vmax;
    height: 150vmax;
    background-color: var(--bg-white);
    border-radius: 50%;
}


.circle__sticky h2 {
    font-size: clamp(2rem, 20cqi, 20rem);
    color: var(--color-black);
    z-index: 1;
}

/* Discover section */

#discover {
    background-color: var(--bg-white);
    height: 100%;
    mix-blend-mode: difference;
}

.discover__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.discover__container p {
    color: var(--color-black);
    will-change: transform;
    font-size: 1.6rem;
    text-align: center;
}

/* End Video */

#end__video {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.end__video__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.end__video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateZ(0);
    will-change: transform;
}

/* Footer */
#footer {
    width: 100%;
    height: 80%;
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    mix-blend-mode: difference;
    color: var(--color-black);
}

.footer__container {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
}

.footer__links {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer__links .footer__link {
    overflow: hidden;
}

.footer__links .footer__link a span {
    position: relative;
    display: inline-block;
    transition: .3s ease;
    transition-delay: calc(var(--data-index) * .01s);
}

.footer__links .footer__link a span::before {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
    color: var(--color-black);
}

.footer__links .footer__link:hover a span {
    transform: translateY(-100%);
}

.footer__links a {
    display: flex;
    font-size: clamp(1.1rem, 0.8rem + 1.5vw, 1.6rem);
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}

.footer__title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title h2 span {
    display: inline-block;
    transition: .5s;
    overflow: hidden;
}

.footer__meta {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    font-size: 0.9rem;
    font-family: monospace;
}



@media only screen and (max-width: 1100px) {
    p { font-size: 1rem; }
    #projects { height: 400%; }
    .projects__sticky { height: 25%; }
    .project { width: 50vw; }
}

@media only screen and (max-width: 600px) {
    #projects { height: 800%; }
    .projects__sticky { height: 12.5%; }
    .project { width: 100vw; }
    .post { width: 80%; }
}

@media (max-width: 768px) {
    .footer__links,
    .footer__meta {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
    .footer__meta { text-align: center; font-size: 1rem;}
}